@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: rgb(245, 245, 245);
}

nav{
    .navbar-brand{
        font-size: 20px !important;
        color: black !important;
        font-weight: 600;
    }

    .nav-link{
        font-size: 13px !important;
        color: rgba($color: black, $alpha: 0.7) !important;
        font-weight: 500;
    }
    input {
        border: 1px solid rgb(190, 190, 190);
        padding: 10px;
        border-radius: 20px;
        background: none;
    }
}

header{
    .header-title{
        h1{
            font-weight: 700;
            font-size: 60px;
        }
        .btn{
            background: rgb(76, 226, 144);
            color: white;
        }
    }

    .header-hero{
        display: flex;
        max-height: 700px;
        .hero-img-big img {
            min-height: 325px;
            max-height: 335px;
            object-fit: cover;
            border-radius: 25px;
        }

        .hero-img-1 img {
            min-height: 150px;
            max-height: 150px;
            object-fit: cover;
            border-radius: 25px;
        }

        .hero-img-2 img {
            min-height: 170px;
            max-height: 85px;
            object-fit: cover;
            border-radius: 25px;
        }

        .hero-img-3 img {
            min-height: 170px;
            max-height: 95px;
            object-fit: cover;
            border-radius: 25px;
        }
    }

    


}

main{
    margin-top: 150px;
    .discover-title{
        .discover-header{
            h1{
                font-size: 45px;
                font-weight: 600;
            }
        }
    }

    .discover-monthly{
        margin-top: 50px;
        
        .content-left{
            .content-header{
                color: rgb(128, 128, 128);
                margin-bottom: 20px;
                @include media-breakpoint-down(md) {
                    
                        text-align: center;
                    
                }
            }
            .content-title{
                h1 {
                    font-size: 50px;
                    font-weight: 700;
                }
                margin-bottom: 20px;

                @include media-breakpoint-down(md){
                    h1{
                        text-align: center;
                    }
                }
            }
            .content-text{
                p{
                    color: rgb(39, 37, 37);
                    text-align: justify;
                }
            }
            .content-btn{
                background: rgb(76, 226, 144);
                margin-bottom: 20px;
                border-radius: 20px;
                a{
                    color: white;
                    letter-spacing: 2px;
                }
            }
            
        }
    }

    .best-cook{
        h3{
            font-weight: bold;
        }
    }
}

#recipe{
    img{
        background-size: cover;
    }
}

.card {
    overflow: hidden;
    border: none;
    padding: 15px;
    border-radius: 30px;
    min-height: 430px;

    .card-body {
        padding: none !important;
        text-align: left;
    }

    img {
        border-radius: 30px;
        background-size: cover;
    }
}


.card-category{
    min-height: 200px;
    max-height: 230px;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
}